<p id="notice"><%= notice %></p>

<p>
  <strong>Series:</strong>
  <%= @event.series %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event.speaker %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@event.description) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.to_s(:time) %>
</p>

<p>
  <strong>Length:</strong>
  <%= @event.length %>
</p>

<dl>
  <dt>Facebook</dt>
  <dd><%= link_to(@event.facebook_url, @event.facebook_url) %></dd>
  <dt>Srazy</dt>
  <dd><%= link_to(@event.srazy_url, @event.srazy_url) %></dd>
  <dt>Google+</dt>
  <dd><%= link_to(@event.gplus_url, @event.gplus_url) %></dd>
</dl>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
