<p id="notice"><%= notice %></p>

<p>
  <strong>Series:</strong>
  <%= @event.series %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event.speaker %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Length:</strong>
  <%= @event.length %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
